<p class="page-title">BookItNow Links</p>

<div class="container">
  <div class="header">
    <h2 class="title">BookItNow Links</h2>
  </div>
  <!-- Booking Link Display -->
  <div class="booking-link-container" *ngIf="!showEditForm">
    <div class="booking-link-card" *ngFor="let booking of bookingLinkData">
      <div class="booking-link-header">
        <div class="booking-info">
          <div class="info-row">
            <label>Booking Name:</label>
            <h2>{{ booking.name }}</h2>
          </div>
          <div class="info-row">
            <label>Services:</label>
            <span class="service-count">{{ serviceCount }} Services</span>
          </div>
        </div>
        <div class="account-menu">
          <button (click)="toggleActionDropdown()">...</button>
          <div class="dropdown" *ngIf="isDropdownVisible">
            <ul>
              <li><a (click)="copyLink(booking)">Copy <b>BookItNow Links</b></a></li>
              <li><a (click)="editBookingLink(booking)">Edit <b>BookItNow Links</b></a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="booking-link-content">
        <div class="info-row">
          <label>Description:</label>
          <p class="description">{{ booking.description }}</p>
        </div>
        <div class="note" *ngIf="booking.note">
          <div class="info-row">
            <label>Note:</label>
            <p>{{ booking.note }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit Form -->
  <div class="edit-form-container" *ngIf="showEditForm">
    <app-booking-link-form
      [bookingLinkData]="selectedBookingLink"
      (formSubmitted)="onFormSubmitted()"
      (formClosed)="onFormClosed()">
    </app-booking-link-form>
  </div>
</div>




